<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LifeTech - Login</title>
    <link rel="stylesheet" href="pharmacist_styles.css">
</head>
<body>
    <div class="background-image"></div>

    <div class="login-container">
        <h2>LifeTech</h2>
        <p>Enter your email address and password to access the <span id="role"><b>Pharmacist</b></span> panel</p>
        <form action="#" method="post">
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" id="email" name="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password">
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label for="pharmacy">Select Pharmacy:</label>
                    <select id="pharmacy" name="pharmacy" required>
                        <option value="" disabled selected>Select Pharmacy</option>
                        <option value="Pharmacy 1">Pharmacy 1</option>
                        <option value="Pharmacy 2">Pharmacy 2</option>
                        <option value="Pharmacy 3">Pharmacy 3</option>
                        <option value="Pharmacy 4">Pharmacy 4</option>
                        <option value="Pharmacy 5">Pharmacy 5</option>
                    </select>
                </div>
                
            </div>            
            <button type="submit" class="btn">Pharmacist Login</button>
        </form>
        <p class="forgot-password">Forgot Password?</p>
    </div>

    <script src="script.js"></script>
</body>
</html>
